In [1]:
import pandas as pd

In [4]:
url="https://github.com/AddisonGauss/NbaData2015-2016/raw/master/nbasalaries.csv"
pd.read_csv(url)

,Unnamed: 0,RK,Player,TEAM,SALARY
0,0,1,Kobe Bryant,Los Angeles Lakers,"$25,000,000"
1,1,2,LeBron James,Cleveland Cavaliers,"$22,970,500"
2,2,3,Carmelo Anthony,New York Knicks,"$22,875,000"
3,3,4,Dwight Howard,Houston Rockets,"$22,359,364"
4,4,5,Chris Bosh,Miami Heat,"$22,192,730"
5,5,6,Chris Paul,LA Clippers,"$21,468,695"
6,6,7,Kevin Durant,Oklahoma City Thunder,"$20,158,622"
7,7,8,Derrick Rose,Chicago Bulls,"$20,093,064"
8,8,9,Dwyane Wade,Miami Heat,"$20,000,000"
9,9,10,LaMarcus Aldridge,San Antonio Spurs,"$19,689,000"
10,10,11,Kevin Love,Cleveland Cavaliers,"$19,689,000"
11,11,12,Marc Gasol,Memphis Grizzlies,"$19,688,000"
12,12,13,Blake Griffin,LA Clippers,"$18,907,726"
13,13,14,Paul Millsap,Atlanta Hawks,"$18,671,659"
14,14,15,Paul George,Indiana Pacers,"$17,120,106"
15,15,16,Russell Westbrook,Oklahoma City Thunder,"$16,744,218"
16,16,17,Kyrie Irving,Cleveland Cavaliers,"$16,407,501"
17,17,18,Kawhi Leonard,San Antonio Spurs,"$16,407,500"
18,18,19,Enes Kanter,Oklahoma City Thunder,"$16,407,500"
19,19,20,Jimmy Butler,Chicago Bulls,"$16,407,500"
20,20,21,Tobias Harris,Orlando Magic,"$16,000,000"
21,21,22,John Wall,Washington Wizards,"$15,851,950"
22,22,23,DeMarcus Cousins,Sacramento Kings,"$15,851,950"
23,23,24,James Harden,Houston Rockets,"$15,756,438"
24,24,25,Roy Hibbert,Los Angeles Lakers,"$15,592,217"
25,25,26,Eric Gordon,New Orleans Pelicans,"$15,514,031"
26,26,27,Klay Thompson,Golden State Warriors,"$15,501,000"
27,27,28,Gordon Hayward,Utah Jazz,"$15,409,570"
28,28,29,Chandler Parsons,Dallas Mavericks,"$15,361,500"
29,29,30,Goran Dragic,Miami Heat,"$14,783,000"
...,...,...,...,...,...
390,390,391,Michael Beasley,Houston Rockets,"$306,527"
391,391,392,Steve Novak,Oklahoma City Thunder,"$295,327"
392,392,393,Anderson Varejao,Golden State Warriors,"$289,755"
393,393,394,JJ Hickson,Washington Wizards,"$273,038"
394,394,395,Joe Johnson,Brooklyn Nets,"$261,894"
395,395,396,JaKarr Sampson,Philadelphia 76ers,"$258,489"
396,396,397,Andre Miller,San Antonio Spurs,"$250,750"
397,397,398,Jason Thompson,Toronto Raptors,"$245,177"
398,398,399,Ryan Hollins,Memphis Grizzlies,"$239,605"
399,399,400,Nazr Mohammed,Oklahoma City Thunder,"$222,888"
400,400,401,Ty Lawson,Indiana Pacers,"$211,744"
401,401,402,Chase Budinger,Phoenix Suns,"$206,192"
402,402,403,Kevin Martin,San Antonio Spurs,"$200,600"
403,403,404,Marcus Thornton,Washington Wizards,"$200,600"
404,404,405,Andrew Goudelock,Houston Rockets,"$200,600"
405,405,406,Jorge Gutierrez,Charlotte Hornets,"$189,455"
406,406,407,Bryce Dejean-Jones,New Orleans Pelicans,"$169,883"
407,407,408,Tony Wroten,Philadelphia 76ers,"$167,406"
408,408,409,Sean Kilpatrick,Brooklyn Nets,"$134,215"
409,409,410,Jeff Ayres,LA Clippers,"$111,444"
410,410,411,Lorenzo Brown,Phoenix Suns,"$111,444"
411,411,412,Jordan McRae,Phoenix Suns,"$111,196"
412,412,413,Erick Green,Utah Jazz,"$99,418"
413,413,414,Alan Williams,Phoenix Suns,"$83,397"
414,414,415,Keith Appling,Orlando Magic,"$61,776"
415,415,416,Orlando Johnson,Phoenix Suns,"$55,722"
416,416,417,Phil Pressey,Phoenix Suns,"$55,722"
417,417,418,Elliot Williams,Memphis Grizzlies,"$55,722"
418,418,419,Cory Jefferson,Phoenix Suns,"$49,709"
419,419,420,Thanasis Antetokounmpo,New York Knicks,"$30,888"

In [6]:
url="https://github.com/ibm-watson-data-lab/open-data/raw/master/movies/movies.tsv"
pd.read_table(url)

,id,name,year,rating,runtime,genre,earnings_rank
0,499549,Avatar,2009,PG13,162,"A,V,Y,S",1
1,120338,Titanic,1997,PG13,194,"D,R",2
2,848228,The Avengers,2012,PG13,143,A,3
3,468569,The Dark Knight,2008,PG13,152,"A,T",4
4,76759,Star Wars,1977,PG,121,"A,V,Y,S",5
5,1345836,The Dark Knight Rises,2012,PG13,165,A,6
6,298148,Shrek 2,2004,PG,92,"V,N,C,F,Y",7
7,83866,E.T. the Extra-Terrestrial,1982,PG,115,"V,F,Y,S",8
8,120915,Star Wars: Episode I - The Phantom Menace,1999,PG,133,"A,V,S",9
9,383574,Pirates of the Caribbean: Dead Man's Chest,2006,PG13,150,"A,V,C,Y",10
10,435761,Toy Story 3,2010,G,103,"V,N,C,F,Y",11
11,1392170,The Hunger Games,2012,PG13,142,A,12
12,145487,Spider-Man,2002,PG13,121,"A,Y,S,T",13
13,1055369,Transformers: Revenge of the Fallen,2009,PG13,150,"A,V,S",14
14,1201607,Harry Potter and the Deathly Hallows: Part 2,2011,PG13,130,"V,D,Y,M",15
15,121766,Star Wars: Episode III - Revenge of the Sith,2005,PG13,140,"A,V,Y,S",16
16,167260,"Lord of the Rings: The Return of the King, The",2003,PG13,201,"A,V,Y",17
17,316654,Spider-Man 2,2004,PG13,127,"A,Y,S,T",18
18,335345,"Passion of the Christ, The",2004,R,127,D,19
19,107290,Jurassic Park,1993,PG13,127,"A,V,H,S",20
20,1399103,Transformers: Dark of the Moon,2011,PG13,157,"A,V,S",21
21,167261,"Lord of the Rings: The Two Towers, The",2002,PG13,179,"A,V,Y",22
22,266543,Finding Nemo,2003,G,100,"V,N,C,F",23
23,413300,Spider-Man 3,2007,PG13,140,"A,V,S,T",24
24,1014759,Alice in Wonderland,2010,PG,108,"V,F,Y",25
25,109830,Forrest Gump,1994,PG13,142,"C,D",26
26,110357,"Lion King, The",1994,G,89,"V,N,C,F,L",27
27,413267,Shrek the Third,2007,PG,92,"N,V,C,F,Y",28
28,418279,Transformers,2007,PG13,144,"A,V,C,S,T",29
29,371746,Iron Man,2008,PG13,126,"A,V,D,S,T",30
...,...,...,...,...,...,...,...
565,29047,In Old Chicago,1937,\N,96,"A,D,L",\N
566,29146,"Life of Emile Zola, The",1937,\N,116,D,\N
567,27300,Anthony Adverse,1936,\N,141,"V,R",\N
568,27459,Come and Get It,1936,\N,99,D,\N
569,27698,"Great Ziegfeld, The",1936,\N,176,L,\N
570,27996,Mr. Deeds Goes to Town,1936,\N,115,C,\N
571,26261,Dangerous,1935,\N,79,D,\N
572,26529,"Informer, The",1935,\N,91,D,\N
573,26752,Mutiny on the Bounty,1935,\N,132,"V,D",\N
574,28313,"Story of Louis Pasteur, The",1935,\N,87,D,\N
575,25316,It Happened One Night,1934,\N,105,"V,C,R",\N
576,23876,Cavalcade,1933,\N,110,D,\N
577,24353,Morning Glory,1933,\N,74,D,\N
578,24473,"Private Life of Henry VIII., The",1933,\N,97,D,\N
579,22958,Grand Hotel,1932,\N,112,D,\N
580,21635,Bad Girl,1931,\N,90,D,\N
581,21730,"Champ, The",1931,\N,87,D,\N
582,21746,Cimarron,1931,\N,131,"D,E",\N
583,21885,"Free Soul, A",1931,\N,91,D,\N
584,22386,"Sin of Madelon Claudet, The",1931,\N,75,D,\N
585,22397,Skippy,1931,\N,85,"C,D,F",\N
586,21148,Min and Bill,1930,\N,66,"C,D",\N
587,19729,"Broadway Melody, The",1929,\N,110,L,\N
588,19788,Coquette,1929,\N,76,D,\N
589,19824,"Divine Lady, The",1929,\N,99,D,\N
590,20018,In Old Arizona,1929,\N,95,E,\N
591,19071,"Last Command, The",1928,\N,85,"V,D",\N
592,18379,Seventh Heaven,1927,\N,110,"D,R",\N
593,18515,Two Arabian Knights,1927,\N,90,"C,R",\N
594,18578,Wings,1927,\N,139,"A,D,R,W",\N

In [7]:
url="https://github.com/h2oai/h2o-2/raw/master/smalldata/iris/iris.xlsx"
pd.read_excel(url)

     sepal_len  sepal_wid  petal_len  petal_wid           class
0          5.1        3.5        1.4        0.2     Iris-setosa
1          4.9        3.0        1.4        0.2     Iris-setosa
2          4.7        3.2        1.3        0.2     Iris-setosa
3          4.6        3.1        1.5        0.2     Iris-setosa
4          5.0        3.6        1.4        0.2     Iris-setosa
5          5.4        3.9        1.7        0.4     Iris-setosa
6          4.6        3.4        1.4        0.3     Iris-setosa
7          5.0        3.4        1.5        0.2     Iris-setosa
8          4.4        2.9        1.4        0.2     Iris-setosa
9          4.9        3.1        1.5        0.1     Iris-setosa
10         5.4        3.7        1.5        0.2     Iris-setosa
11         4.8        3.4        1.6        0.2     Iris-setosa
12         4.8        3.0        1.4        0.1     Iris-setosa
13         4.3        3.0        1.1        0.1     Iris-setosa
14         5.8        4.0        1.2        0.2     Iris-setosa
15         5.7        4.4        1.5        0.4     Iris-setosa
16         5.4        3.9        1.3        0.4     Iris-setosa
17         5.1        3.5        1.4        0.3     Iris-setosa
18         5.7        3.8        1.7        0.3     Iris-setosa
19         5.1        3.8        1.5        0.3     Iris-setosa
20         5.4        3.4        1.7        0.2     Iris-setosa
21         5.1        3.7        1.5        0.4     Iris-setosa
22         4.6        3.6        1.0        0.2     Iris-setosa
23         5.1        3.3        1.7        0.5     Iris-setosa
24         4.8        3.4        1.9        0.2     Iris-setosa
25         5.0        3.0        1.6        0.2     Iris-setosa
26         5.0        3.4        1.6        0.4     Iris-setosa
27         5.2        3.5        1.5        0.2     Iris-setosa
28         5.2        3.4        1.4        0.2     Iris-setosa
29         4.7        3.2        1.6        0.2     Iris-setosa
..         ...        ...        ...        ...             ...
120        6.9        3.2        5.7        2.3  Iris-virginica
121        5.6        2.8        4.9        2.0  Iris-virginica
122        7.7        2.8        6.7        2.0  Iris-virginica
123        6.3        2.7        4.9        1.8  Iris-virginica
124        6.7        3.3        5.7        2.1  Iris-virginica
125        7.2        3.2        6.0        1.8  Iris-virginica
126        6.2        2.8        4.8        1.8  Iris-virginica
127        6.1        3.0        4.9        1.8  Iris-virginica
128        6.4        2.8        5.6        2.1  Iris-virginica
129        7.2        3.0        5.8        1.6  Iris-virginica
130        7.4        2.8        6.1        1.9  Iris-virginica
131        7.9        3.8        6.4        2.0  Iris-virginica
132        6.4        2.8        5.6        2.2  Iris-virginica
133        6.3        2.8        5.1        1.5  Iris-virginica
134        6.1        2.6        5.6        1.4  Iris-virginica
135        7.7        3.0        6.1        2.3  Iris-virginica
136        6.3        3.4        5.6        2.4  Iris-virginica
137        6.4        3.1        5.5        1.8  Iris-virginica
138        6.0        3.0        4.8        1.8  Iris-virginica
139        6.9        3.1        5.4        2.1  Iris-virginica
140        6.7        3.1        5.6        2.4  Iris-virginica
141        6.9        3.1        5.1        2.3  Iris-virginica
142        5.8        2.7        5.1        1.9  Iris-virginica
143        6.8        3.2        5.9        2.3  Iris-virginica
144        6.7        3.3        5.7        2.5  Iris-virginica
145        6.7        3.0        5.2        2.3  Iris-virginica
146        6.3        2.5        5.0        1.9  Iris-virginica
147        6.5        3.0        5.2        2.0  Iris-virginica
148        6.2        3.4        5.4        2.3  Iris-virginica
149        5.9        3.0        5.1        1.8  Iris-virginica

[150 rows x 5 columns]

In [ ]:
url="https://github.com/prasertcbs/test/raw/master/fwf_no_header.txt"
pd.read_fwf(url,widths=[5,7,1],names=["Student_Id","Course_"])